<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Restaurant Tracker</title>
</head>
<body>
<form action="/logout" method="post">
    <button type="submit">Logout</button>
</form>
<br>
Edit Restaurant:
<br>

<form action="/edit-restaurant" method="post">
    <input type="text" name="editname" placeholder="Name"/>
    <input type="text" name="editlocation" placeholder="Location"/>
    <select name="editrating">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>

    </select>
    <input type="text" name="editcomment" placeholder="Comment"/>
    <input type="hidden" name="id" value="{{id}}"/>
    <button type="submit">Submit Restaurant</button>
</form>
</body>
</html>